<div class="doctors-container">
  <h2 class="title">Doctors List</h2>
  <button class="add-btn" (click)="openForm()">+ Add Doctor</button>

  <div *ngIf="showForm">
    <div class="form-overlay" (click)="closeForm()"></div>
    <div class="form-popup">
      <h3>Add Doctor</h3>
      <form (ngSubmit)="addDoctor()" class="doctor-form">
        <label>Doctor Name</label>
        <input type="text" [(ngModel)]="newDoctor.doctorName" name="doctorName" required />

        <label>Date of Birth</label>
        <input type="date" [(ngModel)]="newDoctor.dateOfBirth" name="dateOfBirth" required />

        <label>Specialization</label>
        <input type="text" [(ngModel)]="newDoctor.specialization" name="specialization" required />

        <label>Contact Number</label>
        <input type="text" [(ngModel)]="newDoctor.contactNo" name="contactNo" required />

        <label>Role</label>
        <input type="text" [(ngModel)]="newDoctor.role" name="role" required />

        <div class="form-actions">
          <button type="submit" class="save-btn">Save</button>
          <button type="button" class="cancel-btn" (click)="closeForm()">Cancel</button>
        </div>
      </form>
    </div>
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Doctor ID</th>
          <th>Name</th>
          <th>DOB</th>
          <th>Specialization</th>
          <th>Contact</th>
          <th>Role</th>
          <th>Password</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let doctor of doctors">
          <td>{{ doctor.doctorCode }}</td>
          <td>{{ doctor.doctorName }}</td>
          <td>{{ doctor.dateOfBirth }}</td>
          <td>{{ doctor.specialization }}</td>
          <td>{{ doctor.contactNo }}</td>
          <td>{{ doctor.role }}</td>
          <td>{{ doctor.password? '*********' :'-' }}</td>
           <!-- <td>{{doctor.password}}</td> -->
          <td>
            <span class="status" [class.approved]="doctor.status === 'Activated'" [class.rejected]="doctor.status === 'Deactivated'">{{ doctor.status }}</span>
          </td>
          <td>
            <button class="approve-btn" (click)="approveDoctor(doctor)" [disabled]="doctor.status === 'Activated'">Activate</button>
            <button class="reject-btn" (click)="rejectDoctor(doctor)" [disabled]="doctor.status === 'Deactivated'">Deactivate</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
